
@use "/src/common/styles/colors" as *;
@use "/src/common/styles/sizes" as *;
@use "/src/common//styles/templates" as *;

.userCard {
  @extend %flexCenter;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  margin: 1%;
  padding: 10px;
  width: 200px;
  height: 300px;
  background: linear-gradient(
    180deg,
    rgba(159, 254, 255, 1) 0%,
    rgba(19, 183, 242, 1) 33%
  );
  border: 1px solid $colorBorder;
  border-radius: 4px;
  .nameWrapper {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: space-around;
    font-size: $textSmall;
    color: rgb(255, 255, 255);
  }
  img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
  }
}
