@use "/src/common/styles/colors" as *;
@use "/src/common/styles/sizes" as *;
@use "/src/common//styles/templates" as *;

.container {
  @extend %flexCenter;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  margin: auto;
  color: $colorText;
  padding: 1rem;
  .title {
    padding: inherit;
    font-size: $textTitle;
  }
  .subtitle {
    padding: inherit;
    font-size: $textSubtitle;
  }
  .article {
    padding: inherit;
    font-size: $textSmall;

    .description {
      margin: 10px;
      display: flex;
      flex-direction: column;
      li,
      p {
        margin: 10px;
      }
    }
  }
  a {
    color: $colorTextLink;
    line-height: $textSmall;
    font-size: $textSmall;
  }
}
