.form {
  width: 50vw;
  height: 100%;
  display: flex;
  .field,
  .button {
    width: 50%;
    height: 5vh;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
  }
  .button {
    background-color: rgba(251, 7, 149, 0.322);
    color: antiquewhite;
  }
  .field {
    color: rgb(78, 71, 78);
    outline: none;
    caret-color: rgb(212, 16, 212);
    background-color: #fff;
    
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset ;
    -webkit-text-fill-color: rgb(78, 71, 78) ;
    caret-color: rgb(212, 16, 212) ;
  }
  input:-moz-autofill {
    -moz-box-shadow: 0 0 0 1000px white inset ;
    -moz-text-fill-color: rgb(78, 71, 78) ;
    caret-color: rgb(212, 16, 212) ;
  }
  input:-ms-autofill {
    -ms-box-shadow: 0 0 0 1000px white inset ;
    -ms-text-fill-color: rgb(78, 71, 78) ;
    caret-color: rgb(212, 16, 212) ;
  }
}
