@use "/src/common/styles/colors" as *;
@use "/src/common/styles/sizes" as *;
@use "/src/common//styles/templates" as *;

$mobile: 480px;
$tablet: 7680px;
$laptop: 1024px;
$esktop: 1025px;
.wrapper {
  @extend %flexCenter;
  height: 50px;
  min-height: 35px;
  max-height: 10vh;
  background: linear-gradient(
    49deg,
    rgba(159, 254, 255, 1) 0%,
    rgba(19, 183, 242, 1) 33%,
    rgba(19, 89, 242, 1) 69%,
    rgba(19, 51, 242, 0.9962359943977591) 100%
  );

  .navContainer {
    width: 100%;
    max-height: 100%;

    .links {
      @extend %flexCenter;
      flex-direction: row;
      justify-content: space-evenly;
      // @media screen and (max-width: $mobile) {
      //   margin-left: 10%;
      // }
      li {
        margin: 10px;
      }

      a {
        color: $colorWhite;
        line-height: $textSmall;
        font-size: $textSmall;
      }
    }
  }
}
