// @use "../../common/styles/breackpoints" as *;
$mobile: 480px;
$tablet: 7680px;
$laptop: 1024px;
$esktop: 1025px;
.wrapper {
  height: 50px;
  min-height: 35px;
  max-height: 10vh;
  display:flex;
  align-items: center;
  background: rgb(159, 254, 255);
  background: linear-gradient(
    49deg,
    rgba(159, 254, 255, 1) 0%,
    rgba(19, 183, 242, 1) 33%,
    rgba(19, 89, 242, 1) 69%,
    rgba(19, 51, 242, 0.9962359943977591) 100%
  );

  .navContainer {
    width: 100%;
    max-height: 100%;
    // margin: auto;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      // padding: 10px;
      @media screen and (max-width: $mobile) {
        margin-left: 10%;
        // min-width: 320px;
        // max-height: 400px;
        // flex-direction: column;
      }
      li {
        margin: 10px;
        // margin-left: 100%; // Відступ між елементами списку
      }

      a {
        color: rgb(255, 255, 255);
        line-height: 1rem;
        font-size: 1.5rem;
      }
    }

    img {
      // width: 30;
      height: 10vh;
      object-fit: cover;
    }
  }
}
